.navigation {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20vw;
}

.navButton {
    color: antiquewhite;
    font-size: 20px;
}

body {
    background-color: #1c1d25;
}

* {
    padding: 0;
    margin: 0;
}

.TitleBlog {
    color: antiquewhite;
    margin: 0 auto;
    margin-top: 25vh;
    width: 70vw;
}
